.album-cover,
.next {
  width: 100%;
  background-blend-mode: multiply;
}
.container {
  background-image: linear-gradient(
    #e0745b 10%,
    rgb(79, 52, 42) 25%,
    rgb(32, 30, 30) 40%
  );
  color: white;
  margin-left: 16.5% !important;
}
.container {
  width: 100%;
}
.image-cover {
  width: 200px;
  height: 200px;
}
.album-profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
h2 {
  font-weight: bold;
}
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent white;
  transform: rotate(0deg);
  margin-left: 5px;
}
.play-container {
  background-color: green;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
}
hr {
  border-color: rgb(255, 246, 246);
}
ul li {
  list-style: none;
}
.track-name {
  font-weight: bold;
}
.profil-picture {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.nav-container {
  background-color: black;
  width: 20%;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}
.profile-name {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: bold;
}
.profile-background {
  background-color: black;
  border-radius: 30px;
}
.next-arrow {
  background-color: rgb(46, 44, 44);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.back-arrow {
  background-color: grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.navbar-brand {
  width: 30px;
}

.year {
  font-size: 0.8em;
}
.track {
  /* background-color: rgb(62, 60, 60); */
  transform: translateY(-16px);
  font-size: 0.9em;
}
.play-bar {
  /* background-image: linear-gradient(rgb(109, 63, 46), rgb(106, 79, 71)); */
  background-blend-mode: multiply;
}
.playing-bottom-bar {
  background-color: black;
  border-top: 1px solid white;
  color: white;
  height: 10vh;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
}
.playing-cover {
  height: 40px;
}
.play-triagle {
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
}
.triangle2 {
  width: 0px;
  position: absolute;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent black;
  transform: rotate(0deg);
  margin-left: 10px;
  z-index: 2;
  margin-top: 6px;
}
.progress {
  width: 25em;
  height: 3px;
}
.progress2 {
  width: 8em;
  height: 3px;
}
.nav-list:hover {
  background-color: gray;
  border-radius: 5px;
  padding-left: 5px;
}
.side-bar-songs {
  width: 178px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.song-bar-options:hover {
  background-color: grey;
  padding-left: 5px;
  border-radius: 4px;
}
