@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
  color: white;
  background-color: var(--black);
  font-family: "Signika", sans-serif;
}
.album-cover {
  background-image: linear-gradient(#a13984);
}
.cover-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
strong {
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
}
.posted-by-artist {
  margin-top: 0.5em;
  padding-left: 0.5em;
}
.total-songs,
.duration {
  font-size: 0.8em;
}
.next {
  background-color: #a13984;
  z-index: 3;
  top: 0;
  right: 0;
}
.next-icons {
  margin-left: 500px;
}
.album-cover {
  width: 100%;
  background-blend-mode: multiply;
}
.container {
  background-image: linear-gradient(
    #a13984,
    #a13984 0.02%,
    #a13984 5%,
    rgb(32, 30, 30) 30%,
    rgb(32, 30, 30) 100%
  );
  color: white;
  margin-left: 16.5% !important;
  width: 100%;
}
image-cover {
  width: 250px;
  height: 300px;
}
.album-profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
h2 {
  font-weight: bold;
}
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent white;
  transform: rotate(0deg);
  margin-left: 5px;
}
.play-container {
  background-color: green;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
}
hr {
  border-color: rgb(255, 246, 246);
}
ul li {
  list-style: none;
}
.track-name {
  font-weight: bold;
}
.profil-picture {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.nav-container {
  background-color: black;
  width: 20%;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}
.profile-name {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: bold;
}
.profile-background {
  background-color: black;
  border-radius: 30px;
}
.next-arrow {
  background-color: rgb(46, 44, 44);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.back-arrow {
  background-color: grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.navbar-brand {
  width: 30px;
}

.year {
  font-size: 0.8em;
}
.track {
  transform: translateY(-16px);
  font-size: 0.9em;
}

.playing-bottom-bar {
  background-color: black;
  border-top: 1px solid white;
  color: white;
  height: 10vh;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
}
.playing-cover {
  height: 40px;
}
.play-triagle {
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
}
.triangle2 {
  width: 0px;
  position: absolute;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent black;
  transform: rotate(0deg);
  margin-left: 10px;
  z-index: 2;
  margin-top: 6px;
}
.progress {
  width: 25em;
  height: 3px;
}
.progress2 {
  width: 8em;
  height: 3px;
}
.nav-list:hover {
  background-color: gray;
  border-radius: 5px;
  padding-left: 5px;
  cursor: pointer;
}
.side-bar-songs {
  width: 178px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}
a {
  color: white;
}
.song-bar-options:hover {
  background-color: grey;
  padding-left: 5px;
  border-radius: 4px;
}
.shulffle {
  display: none !important;
}

@media screen and (max-width: 806px) {
  .nav-container {
    width: 200px;
    float: left;
    display: none;
  }
  .container {
    width: 100vw;
    margin-left: 0 !important;
  }
  .next {
    display: none !important;
  }
  .album-cover-info {
    flex-direction: column;
  }
  .album-cover {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .img-fluid {
    margin: auto;
  }
  .posted-by-artist {
    order: 1;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
    font-size: 1.2em;
    font-weight: bold;
  }
  .artist-name {
    font-size: 0.8em;
    font-weight: bold;
  }
  .song-info {
    order: 2;
  }
  .album-album1 {
    display: none;
  }
  .album-album {
    order: 3;
    padding-top: 5px;
    font-size: 14px;
    display: block !important;
  }
  .year,
  .total-songs,
  .duration {
    display: none;
  }
  #title {
    display: none;
  }
  .shulffle {
    display: block !important;
  }
  #shulffle {
    margin-left: 50% !important;
    margin-top: 10px;
  }
  .go-back {
    height: 3vh;
  }
}
