@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* new Album CSS */
:root {
  --green: rgb(30, 215, 96);
  --light-black: rgb(40, 40, 40);
  --black: rgb(24, 24, 24);
  --dark-grey: rgb(54, 54, 54);
  --grey: rgb(170, 170, 170);
  --sand: rgb(200, 200, 200);
  --white: rgb(255, 255, 255);
  --blue: #4688d7;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  color: white;
  height: 100%;
  background-color: var(--black);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--grey);
  text-decoration: none;
}

a:hover {
  color: var(--sand);
}

.list-top-bar {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 30px;
  height: 100px;
  line-height: 100px;
  align-items: center;
}

#green-circle:hover,
#green-circle-inner:hover {
  cursor: pointer;
}

#green-circle {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: var(--green);
  border-radius: 100%;
  position: relative;
  margin-right: 40px;
}

#green-circle-inner {
  color: var(--black);
  font-size: 2em;
  margin: 0 auto;
}

/* new Album CSS */
/* body {
  color: white;
  background-color: var(--black);
  font-family: "Signika", sans-serif;
  background-color: black;
} */
.album-cover {
  background-image: linear-gradient(#a13984);
}
.cover-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
strong {
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
}
.posted-by-artist {
  margin-top: 0.5em;
  padding-left: 0.5em;
}
.total-songs,
.duration {
  font-size: 0.8em;
}
.next {
  background-color: #a13984;
  z-index: 3;
  top: 0;
  right: 0;
}
.next-icons {
  margin-left: 500px;
}
.album-cover {
  width: 100%;
  background-blend-mode: multiply;
}
.container {
  background-image: linear-gradient(
    #a13984,
    #a13984 0.02%,
    #a13984 5%,
    rgb(32, 30, 30) 30%,
    rgb(32, 30, 30) 100%
  );
  color: white;
  margin: 0 auto !important;
  width: 100%;
  max-width: 1400px;
}
.image-cover {
  width: 250px;
  height: 300px;
}
.album-profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
h2 {
  font-weight: bold;
}
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent white;
  transform: rotate(0deg);
  margin-left: 5px;
}
.play-container {
  background-color: green;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
}
hr {
  border-color: rgb(255, 246, 246);
}
ul li {
  list-style: none;
}
.track-name {
  font-weight: bold;
}
.profil-picture {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.nav-container {
  background-color: black;
  width: 20%;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}
.profile-name {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: bold;
}
.profile-background {
  background-color: black;
  border-radius: 30px;
}
.next-arrow {
  background-color: rgb(46, 44, 44);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.back-arrow {
  background-color: grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.navbar-brand {
  width: 30px;
}

.year {
  font-size: 0.8em;
}
.track {
  transform: translateY(-16px);
  font-size: 0.9em;
}

.playing-bottom-bar {
  background-color: black;
  border-top: 1px solid white;
  color: white;
  height: 10vh;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
}
.playing-cover {
  height: 40px;
}
.play-triagle {
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
}
.triangle2 {
  width: 0px;
  position: absolute;
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent black;
  transform: rotate(0deg);
  margin-left: 10px;
  z-index: 2;
  margin-top: 6px;
}
.progress {
  width: 25em;
  height: 3px;
}
.progress2 {
  width: 8em;
  height: 3px;
}
.nav-list:hover {
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}
.side-bar-songs {
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}
a {
  color: white;
}
.song-bar-options {
  padding-left: 5px;
}
.song-bar-options:hover {
  background-color: grey;
  border-radius: 4px;
}
.shulffle {
  display: none !important;
}
.album-text h4,
h5 {
  margin-left: 10px;
}
.like-song:hover {
  display: block;
}
.song-bar-options:hover .song-number {
  display: none;
}
.song-bar-options:hover .like-song {
  display: block !important;
}
.logo-img {
  height: 50px;
}
@media screen and (max-width: 1304px) {
  .logo {
    height: 55px;
    width: 150px !important;
  }
}
@media screen and (max-width: 1021px) {
  .logo {
    height: 40px;
    width: 120px !important;
  }
}
@media screen and (max-width: 860px) {
  .container {
    margin-left: 0 !important;
  }
  .album-text {
    width: 100px;
  }

  .album-text h4 {
    font-size: 1.2em;
    margin-left: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .album-text h5 {
    font-size: 0.9em;
    margin-left: 10px;
  }
  .player-controls {
    width: 52%;
  }
  .bi {
    padding: 0;
    margin: 0;
  }
  .control-buttons {
    width: 80%;
    transform: translateX(-15%);
    font-size: 0.5em;
  }
  .bar-container {
    width: 80%;
    margin-right: 3px;
  }
  .media-controls {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
  }
}

@media screen and (max-width: 964px) {
  /* .playing-cover {
    display: none !important;
  } */
  .song-name {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .progress2 {
    display: none;
  }
  .progress3 {
    width: 200px;
  }
  .playing-section {
    margin-left: -15%;
  }
}

@media screen and (max-width: 763px) {
  .music-player {
    display: none !important;
  }
  /* .control-buttons {
    transform: translateX(-50%) !important;
  } */
  /* .player-controls {
    margin-left: 0;
  } */
  .music-player-mobile {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-grey);
    height: 65px;
    width: 100vw;
    border-radius: 15px;
    position: fixed;
    bottom: 10px;
    margin: 0 auto;
    box-shadow: 0px 10px 10px black;
    z-index: 5;
  }

  .album-artwork-mob {
    margin: 10px;
    border-radius: 5px;
  }

  .album-details-mob {
    color: var(--grey);
    display: flex;
    flex-direction: column;
    margin: 14px 5px;
  }

  .mobile-player-btns {
    font-size: 1.5em;
    line-height: 65px;
    position: fixed;
    right: 30px;
    letter-spacing: 10px;
  }
  .container {
    width: 100vw;
    /* margin-left: 0 !important; */
  }
  .logo-img {
    height: 25px;
  }
  .next {
    display: none !important;
  }
  .album-cover-info {
    flex-direction: column;
  }
  .album-cover {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .img-fluid {
    margin: auto;
  }
  .posted-by-artist {
    order: 1;
  }
  .hide {
    display: none !important;
  }
  .show1 {
    display: block !important;
    font-size: 0.8em;
    font-weight: bold;
  }
  .show {
    max-width: 80%;
    display: block !important;
    font-size: 1.8em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .song-name {
    width: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    font-weight: bold;
  }

  .artist-name {
    font-size: 1.1em;
    font-weight: bold;
  }

  .song-info {
    order: 2;
  }
  .album-album1 {
    display: none;
  }
  .album-album {
    order: 3;
    padding-top: 5px;
    font-size: 14px;
    display: block !important;
  }
  .year,
  .total-songs,
  .duration {
    display: none;
  }
  #title {
    display: none;
  }
  .shulffle {
    display: block !important;
  }
  #shulffle {
    margin-left: 62% !important;
    margin-top: 10px;
  }
  .go-back {
    height: 3vh;
  }
}
@media screen and (max-width: 721px) {
  #shulffle {
    margin-left: 58% !important;
    margin-top: 10px;
  }
}
@media screen and (max-width: 670px) {
  #shulffle {
    margin-left: 55% !important;
    margin-top: 10px;
  }
}
@media screen and (max-width: 575px) {
  #shulffle {
    margin-left: 48% !important;
    margin-top: 10px;
  }
  .show {
    display: block !important;
    font-size: 1.4em;
    font-weight: bold;
  }
  .nav-container {
    /* width: 200px;
    float: left; */
    display: none;
  }
  .container {
    width: 100vw;
    margin-left: 0 !important;
  }
  .song-bar-options {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .play-container {
    margin-right: 1px;
  }

  .three-dots {
    display: block !important;
  }
  .song-mins {
    display: none !important;
  }
}

/* New-Album */

.main-container {
  /* margin-left: 245px;
    margin-bottom: 100px; */
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin-left: 17vw;
  background-image: linear-gradient(
    #a13984,
    #a13984 0.02%,
    #a13984 5%,
    var(--black) 30%
  );
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
}

.topbar .prev-next-buttons button {
  vertical-align: middle;
  color: var(--grey);
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: black;
  margin-right: 10px;
}

.topbar .navbar {
  display: flex;
  align-items: center;
}

.topbar .navbar ul {
  list-style: none;
}

.topbar .navbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
}

.topbar .navbar ul li a {
  color: var(--sand);
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
  color: white;
  font-size: 15px;
}

.topbar .navbar ul li.divider {
  color: #ffffff;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
  user-select: none;
}

.topbar .navbar button {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}

#heart {
  color: rgba(255, 255, 255, 0.4);
  margin-right: 20px;
  font-size: 1.5em;
}

#dot-btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 5px;
  font-size: 0.5em;
}

#dot-btn:hover,
#heart:hover {
  color: white;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.album-container {
  display: flex;
  margin-left: 30px;
}

.album-list {
  min-height: 50vh;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

#album-artwork-top {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.album-info-cont {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 30px;
  justify-items: center;
  line-height: 50px;
}

.album-info-cont > h1 {
  font-size: 3em;
}

.fa-circle {
  font-size: 0.5em;
  line-height: 20px;
  text-align: center;
}

.table {
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 100px;
}

#tags {
  color: var(--grey);
  font-size: 0.8em;
  display: flex;
  margin-left: 20px;
  margin-bottom: 5px;
}

td {
  padding: 10px;
}

#artist-sub {
  color: var(--grey);
}

#tags > h3:nth-child(2) {
  margin-left: 20px;
}

@media only screen and (min-width: 860px) {
  .music-player-mobile {
    display: none;
  }
  .main-container {
    /* margin-left: 28vw; */
  }
}

/* media query for small phones */
@media (max-width: 860px) {
  .music-player {
    display: none;
  }

  .main-container {
    margin: 0 auto;
  }
  #volume {
    display: none;
  }
  /* .player-controls {
    transform: translateX(50%);
  } */
  .music-player-mobile {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-grey);
    height: 65px;
    width: 100vw;
    border-radius: 15px;
    position: fixed;
    bottom: 10px;
    margin: 0 auto;
    box-shadow: 0px 10px 10px black;
  }

  .album-artwork-mob {
    margin: 10px;
    border-radius: 5px;
  }

  .album-details-mob {
    color: var(--grey);
    display: flex;
    flex-direction: column;
    margin: 14px 5px;
  }

  .mobile-player-btns {
    font-size: 1.5em;
    line-height: 65px;
    position: fixed;
    right: 30px;
    letter-spacing: 10px;
  }

  .list-container {
    display: flex;
    flex-direction: column;
  }

  .list-top-bar {
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
    flex-direction: row-reverse;
  }

  #green-circle {
    margin-left: 40vw;
    height: 42px;
    width: 42px;
  }

  #dot-btn {
    margin-right: auto;
    width: 50px;
  }

  #follow-btn {
    margin-right: auto;
  }
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  position: fixed;
  width: 250px;
  padding: 20px;
  z-index: 1;
}

.sidebar .logo {
  width: 200px;
}

.sidebar .logo img {
  width: 130px;
}

.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar .navigation ul li {
  padding: 10px 0px;
}

.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: #ffffff;
}

.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
  color: #b3b3b3;
}

.sidebar .navigation ul li .fa {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
  color: #ffffff;
}

.sidebar .policies {
  position: absolute;
  bottom: 100px;
}

.sidebar .policies ul {
  list-style: none;
}

.sidebar .policies ul li {
  padding-bottom: 5px;
}

.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}

@media (max-width: 860px) {
  .sidebar {
    display: none;
  }

  .main-container {
    margin: 0 auto;
  }
}

/* music bar */

.music-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  z-index: 1;
  background-color: var(--black);
  border-top: 1px solid var(--dark-grey);
}

.music-player .icons {
  display: flex;
  align-items: center;
  margin-left: 20px;
  letter-spacing: 20px;
  color: var(--grey);
}

.music-player .media-controls {
  letter-spacing: 10px;
  font-size: 0.8em; 
  color: var(--grey);
}

.album-details {
  margin: 10px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
}

.album-details-mob h4 {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-left: 8px;
}
.album-details-mob h5 {
  font-size: 0.8em;
  margin-left: 8px;
}

.album-artwork {
  width: 60px;
  height: 60px;
}

.bar-container {
  display: flex;
  line-height: 5px;
}

#time-remain {
  margin-right: 10px;
  font-size: 0.8em;
}

#time-total {
  margin-left: 10px;
  font-size: 0.8em;
}

.control-buttons {
  font-size: 2em;
  margin-bottom: 15px;
  letter-spacing: 20px;
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-btn {
  font-size: 0.5em;
}

.music-bar {
  width: 600px;
  max-width: 800px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--grey);
  margin-bottom: 5px;
}

.media-controls {
  display: flex;
  color: white;
  margin-right: 20px;
  align-items: center;
}

input {
  height: 4px;
  appearance: none;
  width: 100%;
  margin: 2px;
  border-radius: 8px;
  transition: 0.2s ease;
  background-color: #5e5e5e;
  margin-right: 15px;
}

input[type="range"]::-webkit-slider-thumb {
  /* display: none; */
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--green);
}

input[type="range"]:hover {
  background: var(--green);
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
}

@media (max-width: 1080px) {
  .album-text {
    font-size: 0.8em;
    width: 130px;
  }
  .album-text > h4 {
    font-size: 0.8em;
    margin-left: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .album-text > h5 {
    font-size: 0.9em;
    margin-left: 10px;
  }
  .player-controls {
    width: 52%;
    /* transform: translateX(-20px); */
  }
  .bi {
    padding: 0;
    margin: 0;
  }
  .control-buttons {
    width: 80%;
    /* transform: translateX(14%); */
  }
  .bar-container {
    width: 80%;
    margin-right: 3px;
  }
}

@media (max-width: 1261px) {
  .album-text {
    width: 150px;
  }
  .album-text h4 {
    font-size: 1.2em;
    margin-left: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .album-text h5 {
    font-size: 0.9em;
    margin-left: 10px;
  }
  .player-controls {
    width: 52%;
    /* transform: translateX(-20px); */
  }
  .bi {
    padding: 0;
    margin: 0;
  }
  .control-buttons {
    width: 80%;
    /* transform: translateX(16%); */
    margin-right: -20%;
  }
  .bar-container {
    width: 80%;
  }
}

.album-text {
  margin-top: 1vh;
}

.album-text > h4{
  font-size: 0.9em !important;
}

.album-text > h5{
  font-size: 0.8em !important;
}

.container{
  padding-bottom: 90px !important;
}