:root{
    --green: rgb(30, 215, 96);
    --light-black: rgb(40, 40, 40);
    --black: rgb(24, 24, 24);
    --grey: rgb(170, 170, 170);
    --sand: rgb(200, 200, 200);
    --white: rgb(255, 255, 255);
    --blue: #4688d7;
}

body{
    background-color: var(--black);
    font-family: "Roboto", sans-serif;
    padding: none;
    margin: 0;
}

a {
    color: var(--grey);
}

a:hover {
    color: var(--sand);
}