:root {
    --green: rgb(30, 215, 96);
    --light-black: rgb(40, 40, 40);
    --black: rgb(24, 24, 24);
    --dark-grey: rgb(54, 54, 54);
    --grey: rgb(170, 170, 170);
    --sand: rgb(200, 200, 200);
    --white: rgb(255, 255, 255);
    --blue: #4688d7;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    color: white;
    height: 100%;
    background-color: var(--black);
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--grey);
    text-decoration: none;
}

a:hover {
    color: var(--sand);
}

.background-con{
    background-image: linear-gradient(#a13984,
    #a13984 0.02%,
    #a13984 5%,
    var(--black)30%);
}

.main-container {
    /* margin-left: 245px;
    margin-bottom: 100px; */
    max-width: 1400px;
    margin-left: 14vw;
    background-color: var(--black);
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 14px 30px;
}

.topbar .prev-next-buttons button {
    vertical-align: middle;
    color: var(--grey);
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: black;
    margin-right: 10px;
}

.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: var(--sand);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
    color: white;
    font-size: 15px;
}

.topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
    user-select: none;
}

.topbar .navbar button {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

#heart{
    color:rgba(255, 255, 255, 0.4);
    margin-right: 20px;
    font-size: 1.5em;
}


#dot-btn {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 5px;
    font-size: 0.5em;
}

#dot-btn:hover, #heart:hover {
    color: white;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.album-container{
    display: flex;
    margin-left: 30px;
}

.album-list{
    min-height: 50vh;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

#album-artwork-top{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}

.album-info-cont{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    justify-items: center;
    line-height: 50px;
}

.album-info-cont > h1 {
    font-size: 3em;
}

.fa-circle{
    font-size: 0.5em;
    line-height: 20px;
    text-align: center;
}

.table{
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 100px;
}

#tags{
    color: var(--grey);
    font-size: 0.8em;
    display: flex;
    margin-left: 20px;
    margin-bottom: 5px;
}

td{
    padding: 10px;
}

#artist-sub{
    color: var(--grey);
}

#tags > h3:nth-child(2){
    margin-left: 20px;
}

/* media query for small phones */
@media only screen and (max-width: 600px) {
    .artist-container {
        height: 310px;
    }

    .artist-text-container h1 {
        font-size: 3em;
    }

    .topbar .prev-next-buttons button {
        vertical-align: middle;
        color: var(--grey);
        cursor: pointer;
        width: 34px;
        height: 34px;
        border-radius: 100%;
        font-size: 18px;
        border: 0px;
        background-color: black;
        margin-right: 10px;
    }

    .topbar .navbar button {
        display: none;
    }

    .music-player {
        display: none;
    }

    .music-player-mobile {
        display: flex;
        flex-direction: row;
        background-color: var(--dark-grey);
        height: 65px;
        width: 100vw;
        border-radius: 15px;
        position: fixed;
        bottom: 10px;
        margin: 0 auto;
        box-shadow: 0px 10px 10px black;
    }

    .album-artwork-mob {
        margin: 10px;
        border-radius: 5px;
    }

    .album-details-mob {
        color: var(--grey);
        display: flex;
        flex-direction: column;
        margin: 14px 5px;
    }

    .mobile-player-btns {
        font-size: 1.5em;
        line-height: 65px;
        position: fixed;
        right: 30px;
        letter-spacing: 10px;
    }

    .list-container {
        display: flex;
        flex-direction: column;
    }

    .list-list {
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .right-side {
        display: none;
    }

    table {
        font-size: 0.9em;
        border-spacing: 10px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        table-layout: fixed;
    }

    .list-top-bar {
        height: 50px;
        line-height: 50px;
        margin-top: 15px;
        margin-bottom: 5px;
        flex-direction: row-reverse;
    }

    #green-circle {
        margin-left: 40vw;
        height: 42px;
        width: 42px;
    }

    #dot-btn {
        margin-right: auto;
        width: 50px;
    }

    #follow-btn {
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        height: 30px;
        width: 80px;
        color: white;
        margin-right: 30px;
        font-weight: bold;
    }

    

}

/* MQ for portrait tablets and large phones */
@media only screen and (min-width: 600px) {
    .artist-text-container h1 {
        font-size: 4em;
    }

    .music-player {
        display: none;
    }

    .artist-container {
        height: 310px;
    }

    .artist-text-container h1 {
        font-size: 3em;
    }

    .topbar .prev-next-buttons button {
        width: 10px;
        height: 10px;
        font-size: 20px;
        border: 0px;
        background-color: black;
        margin-right: 20px;
    }

    .topbar .navbar button {
        display: none;
    }

    .music-player {
        display: none;
    }

    .music-player-mobile {
        display: flex;
        flex-direction: row;
        background-color: var(--dark-grey);
        height: 65px;
        width: 100vw;
        border-radius: 15px;
        position: fixed;
        bottom: 10px;
        margin: 0 auto;
        box-shadow: 0px 10px 10px black;
    }

    .album-artwork-mob {
        margin: 10px;
        border-radius: 5px;
    }

    .album-details-mob {
        color: var(--grey);
        display: flex;
        flex-direction: column;
        margin: 14px 5px;
    }

    .mobile-player-btns {
        font-size: 1.5em;
        line-height: 65px;
        position: fixed;
        right: 30px;
        letter-spacing: 10px;
    }

    .list-container {
        display: flex;
        flex-direction: column;
    }

    .list-list {
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .right-side {
        display: none;
    }

    table {
        font-size: 0.9em;
        border-spacing: 10px 0px;

    }

    .list-top-bar {
        height: 50px;
        line-height: 50px;
        margin-top: 15px;
        margin-bottom: 5px;
        flex-direction: row-reverse;
    }

    #green-circle {
        margin-left: 40vw;
        height: 42px;
        width: 42px;
    }

    #dot-btn {
        margin-right: auto;
        width: 50px;
    }

    #follow-btn {
        margin-right: auto;
    }

    .right-side-mob {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

    .album-mob {
        height: 40px;
        width: 40px;
    }

    .artist-pick-text-mob {
        display: flex;
        flex-direction: column;
    }
}

/* MQ for medium devices/landscape tablets */
@media only screen and (min-width: 600px) {
    .topbar .navbar button {
        display: inline-block;
    }

    .topbar .prev-next-buttons button {
        vertical-align: middle;
        color: var(--grey);
        cursor: pointer;
        width: 34px;
        height: 34px;
        border-radius: 100%;
        font-size: 18px;
        border: 0px;
        background-color: black;
        margin-right: 10px;
    }

    .list-top-bar {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 30px;
        height: 100px;
        line-height: 100px;
        align-items: center;
    }

    #green-circle {
        display: flex;
        align-items: center;
        width: 60px;
        height: 60px;
        margin: 5px;
        background-color: var(--green);
        border-radius: 100%;
        position: relative;
        margin-right: 40px;
    }

    #green-circle-inner {
        color: var(--black);
        font-size: 2em;
        margin: 0 auto;
    }

    #follow-btn {
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        height: 30px;
        width: 80px;
        color: white;
        margin-right: 30px;
        font-weight: bold;
    }

    .right-side {
        display: flex;
        width: 200px;
    }

    #circle {
        width: 20px;
        height: 15px;
    }

    .right-side-mob {
        display: none;
    }
}

/* MQ large devices */
@media only screen and (min-width: 1000px) {
    .music-player {
        display: flex;
    }

    .right-side {
        display: flex;
        width: 500px;
    }

    .artist-text-container h1 {
        font-size: 5em;
    }

    #circle {
        width: 30px;
        height: 30px;
    }
}