:root {
    --green: rgb(30, 215, 96);
    --light-black: rgb(40, 40, 40);
    --black: rgb(24, 24, 24);
    --dark-grey: rgb(54, 54, 54);
    --grey: rgb(170, 170, 170);
    --sand: rgb(200, 200, 200);
    --white: rgb(255, 255, 255);
    --blue: #4688d7;
}

.music-player .icons {
    display: flex;
    align-items: center;
    margin-left: 20px;
    letter-spacing: 20px;
    color: var(--grey);
}

.music-player .media-controls {
    letter-spacing: 10px;
    font-size: 0.8em;
    color: var(--grey);
}

.music-player .icons>i:hover,
.music-player .media-controls>i:hover {
    color: white;
}

.music-player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
    background-color: var(--black);
    border-top: 1px solid var(--dark-grey)
}

.music-player .album-details {
    margin: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;

}

.music-player .album-text {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 10px;
    line-height: 20px;
    margin-left: 8px;
    letter-spacing: 1px;
}

.music-player .album-artwork {
    width: 60px;
    height: 60px;
}

.music-player .bar-container {
    display: flex;
    line-height: 5px;
}

.music-player #time-remain {
    margin-right: 10px;
    font-size: 0.8em;
}

.music-player #time-total {
    margin-left: 10px;
    font-size: 0.8em;
}

.music-player .control-buttons {
    font-size: 2em;
    margin-bottom: 15px;
    letter-spacing: 20px;
}

.music-player .player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-player .small-btn {
    font-size: 0.5em;
}

.music-player .music-bar {
    width: 600px;
    max-width: 800px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--grey);
    margin-bottom: 5px;
}


.music-player .media-controls {
    display: flex;
    color: white;
    margin-right: 20px;
    align-items: center;
}

.music-player input {
    height: 4px;
    appearance: none;
    width: 100%;
    margin: 2px;
    border-radius: 8px;
    transition: 0.2s ease;
    background-color: #5e5e5e;
    margin-right: 15px;
}

.music-player input[type="range"]::-webkit-slider-thumb {
    /* display: none; */
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--green);
}

.music-player input[type="range"]:hover {
    background: var(--green);
}

.music-player input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
}

.music-player .list-top-bar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 30px;
    height: 100px;
    line-height: 100px;
    align-items: center;
}

.music-player #green-circle {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: var(--green);
    border-radius: 100%;
    position: relative;
    margin-right: 40px;
}